.main-content{padding:20px;}
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}

html,body{min-height:100%;}
.wrap{min-height:100%;position:relative;}
.footer{position:absolute;left:0;bottom:0;right:0;}
.body{padding-bottom:56px;}

/* 覆盖SI框架一些公共样式 */
.bui-grid-bbar{border:0 none;}
.bui-grid{border-bottom:0;}
.bui-grid .bui-grid-body{border-bottom:1px solid #ddd;}
.bui-grid .bui-pagingbar .bui-pb-page{color:#3CBBCE;padding:2px 5px;text-align:center;}
.bui-grid-table .bui-grid-cell-text{padding:3px 8px;}
a.label.label-info,a.label.label-info:hover{color:#fff;}
.bui-dialog{border-radius:0;border:0 none;}
.bui-dialog .bui-stdmod-header{padding:10px 15px;}
.bui-dialog a.bui-ext-close{top:10px;}
.bui-stdmod-header{border-bottom:0;background:#33BCCF;color:#fff;}
.bui-stdmod-header .header-title{color:#fff;}
.bui-dialog .bui-stdmod-footer{text-align:center;border-top:0;}
.bui-stdmod-footer .button{margin:0 15px;}
.bui-message .bui-stdmod-header{background:#fff}
.btn-tipwrap .btn-tip{height:auto;max-width:200px}
.submenu .submenu-unfold ul{zoom:1;}

/* tips关闭功能 */
.tips{position:relative}
.tips-close{position:absolute;right:10px;top:5px;font-size:20px;line-height:22px;cursor:pointer;}
.txt-warning{color:#FF8455;}
.txt-success{color:#5CB85C;}
.txt-error{color:#f00;}

.sublogo{background:#41526E;padding:20px 0 10px;text-align:center;}

.grid_header_tool{border-bottom:1px dashed #D5D5D5;padding-bottom:15px;margin-bottom:15px;}
.grid_header_tool .float_item{float:left;margin-right:25px}

.bread-nav{padding:10px 0 10px 10px;height:20px;}
.bread-nav .bn-sprite{margin:0 5px;}
.bread-nav a{color:#748399;}
.bread-nav em,.bread-nav a:hover{color:#3CBBCE;}

.grid_header{margin:0 0 10px;}
.search_area .search_text{padding-right:30px;}
.search_area .search_btn{margin-left:-35px;color:#A3A3A3;border:0 none;background:transparent;font-size:16px;vertical-align:middle}
input.date_range_input{width:200px;}

.ctable{width:100%;border-top:1px solid #DFE0E4;}
.ctable .rowcheck{width:40px;text-align:center;}
.ctable th{background:#F6F9FE;border-bottom:1px solid #DFE0E4;height:36px;color:#656B7B;}
.ctable tbody td{padding:5px;text-align:center;}
.ctable .row_even td{background:#F6F6F6;}

.page_ctrl_button{margin-bottom:15px;text-align:right;}


/* 开关样式 */
.tsCheckboxwrap{float:left;height:18px;line-height:18px;background:#C3C3C3;position:relative;padding:5px;padding-left:35px;border-radius:4px;color:#fff;cursor:pointer;}
.tsCheckboxwrap.checked{background:#4C6583;padding-left:5px;padding-right:35px;}
.tsCheckboxwrap .tsPoint{position:absolute;width:24px;height:18px;background:url(../images/switch-bar.png) no-repeat;left:5px;top:5px;}
.tsCheckboxwrap.checked .tsPoint{right:5px;left:auto;}

.c_dialog{display:none}
.group_select,.add_group{padding-top:40px;text-align:center;}

/* 密钥管理 */
.secret_key_list li,.box_list li{float:left;width:50%;}
.secretkey_content,.box_list .box_content{margin:10px;border:1px solid #EAEAEA;background:#F6F6F6;}
.secret_key_val{padding:10px 30px;}
.secret_key_item{margin:10px 0;position:relative;padding-left:70px;}
.secret_key_item em{position:absolute;left:0;line-height:32px}
.secret_key_item input{width:100%;padding-left:0;padding-right:0}
.keyitem_box span{line-height:32px;display:block;white-space:nowrap;text-overflow:ellipsis;}
.secret_ctrl,.box_ctrl{text-align:center;background:#E3E3E3;padding:8px 0;position:relative;}
.secret_ctrl .imgicon_disable{position:absolute;width:21px;height:21px;background:url(../images/imgicon_disable.png) no-repeat;bottom:12px;left:20px;}
.box_ctrl .button{margin:0 5px;}
.box_ctrl .box_mark{position:absolute;bottom:6px;left:15px;font-size:18px;color:#BBBBBB;}

.space_list .box_ctrl{background:#F2F2F2;}
.box_list .box_content{position:relative;}
.box_list .box_content .test_mark{width:40px;height:42px;background:url(../images/test_corner.png) no-repeat;position:absolute;top:-2px;left:-2px;text-indent:-99em;overflow:hidden;}
.space_info{background:#fff;padding:20px;}
.space_info .space_type{float:left;width:100px;text-align:center;padding-right:20px;border-right:3px dashed #F3F3F3;margin:0 20px}
.space_info .space_detail_list{overflow:hidden;}
.space_info .space_detail_list li{float:none;line-height:22px;padding:5px 0;font-size:14px;width:auto;}
.space_detail_list li em{color:#32B9CD;}
.space_type .space_name{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}

.field_title{padding-bottom:5px;height:30px;margin-bottom:10px;border-bottom:1px dashed #D6D6D6;zoom:1;}
.field_title:after{content:"";display:block;clear:both;height:0;overflow:hidden;font-size:0;line-height:0;overflow:hidden;}
.field_title h3{float:left;font-size:16px;}
.field_content{margin:20px 0;}

.formtips_list{font-size:12px;line-height:24px;padding-left:40px;margin:10px 0;border:1px solid #F2E9C2;background:#FFFBE8;}
.formtips_list li{list-style-type:disc;list-style-position:outside;padding:3px 0;}

.mirror_form{margin:20px 0;}
.mirror_form .control-label{font-size:14px;width:auto;}
.mirror_form .control-text,.img_config .control-text,.img_config .control-label{font-size:14px;}
.add_mirror_control{margin-top:15px;}
.add_mirror_control .control-label{width:auto;}
.add_mirror_control  textarea{width:400px;height:140px;}

.myradio_box,.mycheckbox_box{display:inline-block;width:16px;height:16px;background:url(../images/check-input-bg.png) no-repeat;position:relative;cursor:pointer;vertical-align:middle;margin-right:5px}
.mycheckbox_box{background-position:0 -16px;}
.myradio_box.checked{background-position:-16px 0}
.mycheckbox_box.checked{background-position:-16px -16px}
.myradio_box input,.mycheckbox_box input{opacity:0;filter:alpha(opacity=0);position:absolute;left:0;right:0;height:100%;z-index:-1}
.icheck_wrap label{vertical-align:middle;}

.img_config .icheck_wrap,.addspace_form .icheck_wrap{display:inline-block;line-height:30px;vertical-align:-2px;width:110px;}
.addspace_form .icheck_wrap{width:auto;margin-right:15px}
.page_head_tool{padding-bottom:10px;}

.imgbasic_set .imgbasic_set_list{float:left;}
.imgbasic_preview{float:right;}
.imgbasic_set_list .controls{height:44px;}
.imgcut_type_radio{line-height:30px}
.imgcut_type_radio input{vertical-align:-2px;margin-right:4px}
.imgcut_type_radio label{width:80px;display:inline-block;}
.imgcut_type input{width:30px;}
.imgquality_slider{margin-top:10px;width:220px;}
.controls .imgstylename_input{width:210px;}
.imgformat_select{width:230px;}
.imgcut_size label{margin-right:10px}
.imgbasic_set_list .imgcut_type_row{padding-bottom:15px;height:auto}
.imgquality_slider{position:relative;}
.imgquality_slider .x-slider-back{background:#33BBD1}
.imgquality_slider .bui-slider{background:#fff}
.imgquality_num{position:absolute;top:-22px;background:#fff;width:30px;margin-left:-15px;text-align:center;color:#555555;border:1px solid #E5E5E5;}
.imgmark_tab{width:700px;}
.markpos_list{width:129px;}
.markpos_list li{float:left;width:42px;height:42px;border:1px solid #C9C9C9;text-align:center;line-height:42px;margin-right:-1px;margin-bottom:-1px;cursor:pointer;}
.markpos_list li.select{background:#C9D7F1}
.textmark_txt input{width:238px;}
.style_param textarea{width:230px;height:100px}
.style_param_tips p{word-wrap:break-word;word-break:break-all;color:#898788;}

.color_view{display:inline-block;width:16px;height:16px;border:1px solid #ccc;background-color:#f00;vertical-align:middle;margin-left:10px}
.mark_conf{float:left;width:350px;}
.mark_position{float:right;margin-right:10px}
.mark_conf .control-label,.imgbasic_set_list .control-label{width:70px;}
.mark_conf .input-small{width:50px;}
.mark_conf .fontselect{width:80px;padding-left:5px;}
.fontfamily_set{float:left;width:160px;}
.mark_position p{text-align:center;line-height:30px;margin-bottom:-10px;}
.imgstyle_wrap{padding:10px 0;}

.dialog_bottom_btn{text-align:center;}
.filelist_loadtip{float:left;line-height:29px;margin-right:10px}
.list_type_wrap{float:left;}
.list_type_wrap .list_type{width:33px;}
.list_type_wrap span{float:left;width:32px;height:29px;background:url(../images/list_grid_toggle.png) no-repeat;cursor:pointer;}
.list_type_wrap span.grid_type{background-position:-33px 0;}
.list_type_wrap.grid_mode .list_type{background-position:0 -29px}
.list_type_wrap.grid_mode .grid_type{background-position:-33px -29px}

.grid_file_head{border-top:1px solid #DDE0E7;border-bottom:1px solid #DDE0E7;background:#F6F9FE;height:36px;line-height:36px;padding-left:7px;}

.grid_file_list{padding-top:10px;overflow-y:auto;height:500px;}
.grid_file_list li{float:left;padding:15px 20px 15px 20px;margin:2px;position:relative;width:100px;text-align:center;}
.grid_file_list li.hover{background:#DAECF6}
.grid_file_list li.select{background:#C3E6FA}
.grid_file_list li .mycheckbox_box{position:absolute;left:5px;top:15px;}
.grid_file_list .file_type_img{height:52px;overflow:hidden;margin-bottom:15px;}
.grid_file_list .file_name{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.ajaxtip{text-align:center;margin:10px 0;color:#555;font-size:14px;line-height:36px;}
.rename_content{padding-top:20px;}

.upload_contain{border:1px solid #DDE0E7;}
.upload_header{height:38px;line-height:38px;padding:0 10px;background:#F6F9FE;border-bottom:1px solid #DDE0E7;}
.upload_header .fl{margin-top:5px;}
.upload_filelist{height:290px;overflow-y:auto;width:100%}
.upload_filelist table{background:#fff;width:100%;}
.upload_filelist table td{padding:5px;border-bottom:1px solid #DDE0E7;}
.upload_filelist .process_contain .process_bar{display:inline-block;vertical-align:middle;height:8px;width:260px;background:#F8F8F8}
.upload_filelist .process_num{vertical-align:middle;}
.upload_filelist .process_contain .process_bar span{display:inline-block;vertical-align:top;width:0;height:8px;background:#33BBD1}
.upload_filelist .delete_file{color:#DDE0E9;font-size:30px;line-height:20px;cursor:pointer;}
.upload_filelist .filesize,.upload_filelist .process_time{color:#999;}
.upload_filelist .nulltip{color:#999;font-size:18px;margin-top:115px;text-align:center;}
.upload_bottom_btn{text-align:center;margin-top:15px;}
.upload_bottom_btn .button{margin-right:15px}
.upload_filelist .upload_success{color:#33BCCF;}

.grid_file_head.fixgrid_head{position:fixed;top:0;right:40px;left:261px;z-index:9}
.fixhidden{display:none;}
.fixgrid_head .fixhidden{display:block;}
.grid_file_head .fixhidden{overflow:hidden;padding-left:10px;line-height:30px}
.grid_file_head .fixhidden .list_type_wrap{margin-top:3px;}

.gotop{position:fixed;right:0;bottom:30px;width:30px;display:none}
.gotop_btn{display:block;width:30px;background:#4D6584;color:#fff;text-align:center;padding:5px 0 10px;text-decoration:none}
.gotop_btn:active,.gotop_btn:visited,.gotop_btn:focus{color:#fff;text-decoration:none}
.gotop_btn:hover{background:#41536F;color:#fff;}
.gotop_btn .icon_gotop{font-size:16px;line-height:12px;padding-top:5px;height:5px;margin-bottom:5px;vertical-align:top;overflow:hidden;font-family:"\5b8b\4f53";display:block;}

.c-dialog{display:none;}
.c-dialog-content{padding-top:15px;}

.bui-select-list{overflow:auto;overlow-x: hidden;max-height:150px;_height:150px;}
.item_hidden{display:none;}
.testserver_tip{float:left;margin-right:15px;}
.testserver_tip .tips{padding:5px 10px;margin-right:15px;float:left;background:#FFFBE9;border-color:#F2E9C2;}
.testserver_tip .tips p{margin:0;color:#B88224;}
.imgicon_filetype{display:inline-block;width:15px;height:13px;background:url(../images/imgicon_small_filetype.png) no-repeat 0 -13px;vertical-align:middle;margin-right:5px}
.imgicon_filetype.folder{background-position:0 0}
.adddomain_form .control-label{width:80px;}

/* 错误页面 */
.neterror_page{width:980px;margin:0 auto;text-align:center;}
.neterror_codeimg{padding-top:80px;}
.neterror_page h1{color:#666;margin:20px 0 10px;}
.neterror_btn .button{margin:0 20px;}
.neterror_codeinfo{width:360px;margin:0 auto 20px;text-align:left;}

.text-overflow{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.error-tips{padding:5px 8px;color:#a94442;border-color:#ebccd1;background-color:#f2dede;margin-bottom:10px;text-align:center;}

.grid_page_size{margin-top:-30px;}
.grid_page_size select{width:60px;padding:4px 5px;}

.upload_header #selectFile{width:50px;height:22px;display:block;}